
  <div class="container">
    <h1>My Tasks</h1>

      <% @tasks.each do |task| %>
      <p><% if task.completed? %>
        <i class="far fa-check-square"></i> <%= link_to task.title, task_path(task) %>
      <% else %>
        <i class="far fa-square"></i> <%= link_to task.title, task_path(task) %>
      <% end %>
      <%= link_to task_path(task),
          method: :delete,
          data: { confirm: "Are you sure you want to delete #{task.title}?" } do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </p>
      <% end %>

  <p><%= link_to "Create New Task", new_path %></p>
</div>
